[Unit]
Description=Consumer Notifications.

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/consumer-notifications/main.py

[Install]
WantedBy=multi-user.target